@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HELLO ADNEC ! </h1>
    <p>Here is a sample .Net application hosted in a GitHub repository. Using this application we will showcase the use of 
        GitHub actions</p>
        <p>This modification occured through github action by commiting the changes to github, and letting GitHub actions do the rest </p>
        <p>This change will be pushed to GitHub and github actions will take care of building and deploying to azure web apps</p>
</div>
