@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HELLO ADNEC ! </h1>
    <p>Here is a sample .Net application hosted in a GitHub repository. Using this application we will showcase the use of 
        GitHub actions</p>
</div>
